<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 禁用延迟加载 -->
		<setting name="lazyLoadingEnabled" value="false" />
		<!--使用jdbc自动查询主键 -->
		<setting name="useGeneratedKeys" value="true" />
		<!--使用驼峰命名法转换  -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 启用log4j -->
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<!-- 配置别名列 -->
	<typeAliases>
			<package name="com.cn.multimodel.entity"/>
			<package name="com.cn.multimodel.vo"/>
	</typeAliases>
</configuration>